* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-color: #71726E;
}
#container {
    width: 70%;
    margin: 0 auto;
}
/* ----- Container Header CSS Rules -----*/
#container-header {
    background-color: #fff;
    height: 40%;
}
#container-header .ch-menu {
    width: 100%;
    height: 25%;
    background-color: #663636;
}
.ch-menu-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row; 
    list-style: none; 
    margin-left: 30px; 
}
.ch-menu-links li {
    height: 100%;
    padding: 10px;
    border-right-color: rgb(114, 112, 112);
    border-right-style: solid;
    border-right-width: 1px;
}
.ch-menu-links li:hover {
    background-color: #fff;
    
}
.ch-menu-links li:hover>a {
    color: #663636;
}
.ch-menu-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: 900;
}
.ch-undermenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #3C0700;
}
.ch-undermenu-left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0e0302;
    padding: 5% 1px;
    margin-left: 10px;
}
.ch-undermenu-left h2,
.ch-undermenu-left h4 {
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
}
.ch-undermenu-left h2 {
    font-size: 30px;
}
.ch-undermenu-left h4 {
    font-size: 20px;
}
.ch-undermenu-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.ch-undermenu-right img {
    width: 200px;
}
/* ----- Container Body CSS Rules -----*/
#container-body {
    background-color: #fff;
    display: flex;
    flex-direction: row;
}
.cb-left {
    padding: 30px 5px 20px 40px;
}
.cb-left a {
    text-decoration: none;
}
.area input {
    padding: 5px 0;
}
.area-lr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.area .area-link {
    display: inline-block;
    padding: 5px;
    background-color: #663636;
    color: #fff;
}
.area h2 {
    margin: 5px 0;
}
.area ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.area ul li a{
    display: block;
    margin: 3px 0;
}
.cb-right {
    padding: 30px 20px;
}
.article {
    width: 100%;
    height: 300px;
}
.article-header {
    height: 90%;
    padding: 5px;
}
.article-header h3 {
    font-size: 24px;
    color: rgb(93, 25, 25);
    margin-bottom: 10px;
}
.article-header p {
    text-align: justify;
    margin-top: 15px;
}
.article-footer {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #71726E;
    color: #fff;
}
.article-footer a {
    margin: 0 5px;
    color: #fff;
}
/* ----- Container Footer CSS Rules -----*/